<h1>Let the games begin</h1>
<p>Choose from rock, paper or scissors and hope for the best!</p>
<ul>
  <li><a href="/play/rock">Rock</a></li>
  <li><a href="/play/paper">Paper</a></li>
  <li><a href="/play/scissors">Scissors</a></li>
</ul>
